.card-item-row {
    padding-bottom: 72px !important;
    @media only screen and (max-width: 480px) {
        padding-bottom: 48px !important;
    }
}

.db-action,
.db-action * {
    transition: 0.2s all ease-in-out !important;
}

.action-text {
    margin-top: 11px;
    font-weight: 500;
}

.card-item-row {
    display: flex;
}

.db-action-wrapper {
    order: -1;
    padding-bottom: 64px;
}

.db-action {
    width: 64px;
    height: 96px;
    border-radius: 8px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 14px 12px;
    margin: 0 32px 0 0;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading .db-action,
.db-action:hover,
.db-action:focus {
    background: #1738ff;
    color: white;
    transform: translateY(-8px);
}

.action-text,
.action-icon-wrapper {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    font-weight: 500;
    position: relative;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-icon {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled .db-action,
.disabled .db-action:hover,
.disabled .db-action:focus {
    max-height: 72px;
    padding: 12px;
    background: black;
    color: white;
    cursor: auto;
    transform: translateY(0px);
}

.enabled,
.disabled,
.loading {
    .action-icon {
        opacity: 0;
    }
}

.loading,
.enabled.loading {
    .action-icon {
        &.if-loading {
            opacity: 1;
        }
        &.if-enabled {
            opacity: 0;
        }
    }
}

.disabled {
    .action-icon-wrapper {
        margin-bottom: -40px;
        opacity: 0;
    }
    .action-icon {
        &.if-loading {
            opacity: 0;
        }
        &.if-enabled {
            opacity: 0;
        }
    }
}

.enabled {
    .action-icon {
        &.if-loading {
            opacity: 0;
        }
        &.if-enabled {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 480px) {
    .db-action {
        margin-right: 20px;
        width: 48px;
        font-size: 16px;
        line-height: 16px;
        padding: 10px 8px 8px;
        height: 72px;
    }
    .disabled .db-action {
        height: 52px;
    }
    .action-text,
    .action-icon {
        line-height: 16px;
        height: 16px;
    }
    .action-text {
        font-size: 14px;
    }
    .disabled .action-icon-wrapper {
        margin-bottom: -28px;
        opacity: 0;
    }
}