body {
    opacity: 1;
    transition: opacity 0.2s ease;
    pointer-events: all;
    &:not(.authorized) {
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}

.popover,
.pop-inner {
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    pointer-events: none;
}

a:hover .popover,
a:focus .popover,
a:focus-within .popover {
    opacity: 1;
    pointer-events: all;
}

a:hover .pop-inner,
a:focus .pop-inner,
a:focus-within .pop-inner {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}


/* NAV BAR */

#campus-side-nav-toggle-button,
#campus-side-nav-close-button {
    outline: 0 !important;
}

.menu-button-text.menu-hamburger-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 991px) {
    .side-nav-col-item,
    #campus-side-nav {
        pointer-events: none;
    }
    .side-nav-col-item> :first-child {
        pointer-events: all !important;
    }
}

.menu-button-text.menu-times-text {
    display: none;
}

#campus-side-nav {
    outline: 0;
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 991px) {
    #campus-side-nav {
        display: flex;
    }
    body.side-nav-show .side-nav-underlay,
    .side-nav-underlay {
        display: none !important;
    }
}

.side-nav-underlay {
    display: none;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 900;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

body.side-nav-open {
    overflow: hidden !important;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vw;
    min-height: 100vw;
    max-height: 100vw;
}

body.side-nav-show #campus-side-nav,
body.side-nav-show .side-nav-underlay {
    display: block;
}

body.side-nav-open .side-nav-underlay {
    opacity: 1;
    pointer-events: all;
}

body.side-nav-open #campus-side-nav {
    left: 0;
}

body.side-nav-open .menu-button-text.menu-times-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body.side-nav-open .menu-button-text.menu-hamburger-text {
    display: none;
}

.sub-nav-overflow {
    overflow-x: auto !important;
}

.sub-nav-overflow.minimal {
    overflow-y: hidden;
}

@media only screen and (max-width: 991px) {
    body.side-nav-open .side-nav-col-item,
    body.side-nav-open #campus-side-nav {
        pointer-events: all;
    }
}

.sidenav-link.title-link.current,
.sidenav-link.title-link.w--current,
.sidenav-link.title-link.current:hover,
.sidenav-link.title-link.w--current:hover,
.sidenav-link.title-link.current:focus,
.sidenav-link.title-link.w--current:focus {
    background: none !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    color: black !important;
    box-shadow: none !important;
    border-left: none !important;
    padding-left: 0 !important;
}