.pixel-container,
#skill-struck-pixel {
    height: 1px !important;
    min-height: 1px !important;
    max-height: 1px !important;
    width: 1px !important;
    height: 1px !important;
    min-height: 1px !important;
    max-height: 1px !important;
    overflow: hidden !important;
    display: none !important;
    pointer-events: none !important;
    position: relativ !important;
}

#skill-struck-pixel {
    position: absolute;
    left: 6000px;
    top: 60000px;
}